<div class="bgimg w3-display-container w3-animate-opacity w3-text-white" style="background-image: url(assets/bac.jpg);">
  
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
   Keep A Pet
  </div>
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top">keep A pet </h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-large w3-center">Discover Now 
      <br>
      <a routerLink="/Property-list"  class="btn btn-default"> Start </a></p>
   
  </div>
 
</div>
