<app-admin-nav></app-admin-nav>

<div style="margin-top:100px;">


<div class="container">
<div class="row mb-5" >
  <div class="col-8 shadow-lg p-0 bg-white" >


    <div class="card-body">
      <label> Image </label>
      <div class="ml-3 bd-highlight" style="width: 40%;">
        <!-- <img [src]=PhotoFilePath height="250px;" width="200px;"> -->
        <input type="file"  (change)="uploadPhoto($event)" class="mt-2" />
      </div>

      <label> Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="Name"    [(ngModel)]="propertyView.Name">
      </div>
      <div class="col-sm-10">
        Biography
        <input type="text" class="form-control" [(ngModel)]="Biography" 
          [(ngModel)]="propertyView.Biography">
      </div>
      <div class="col-sm-10">
        Age
        <input type="text" class="form-control" [(ngModel)]="Age" [(ngModel)]="propertyView.Age"
          placeholder="Ente Age">
      </div>
      <div class="col-sm-10">
        Price
        <input type="number" class="form-control" [(ngModel)]="Price" placeholder="Price" [(ngModel)]="propertyView.Price">
      </div>
      <label class="col-sm-2 col-form-label">Category</label>
      <div class="col-sm-10">
        <select class="form-control" [(ngModel)]="Categories" (change)="selectChange()" >
          <option>--Select--</option>
          <option *ngFor="let depName of Categories" [value]="depName.CategoryType" >
            {{depName.CategoryType}}
          </option>
        </select>

      </div>

      <label class="col-sm-2 col-form-label">Gender</label>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="Gender" [(ngModel)]="propertyView.Gender">
      </div>





  <button  (click)="addPet()" class="btn btn-primary">
    Add
  </button>
</div>
</div>
<div class="col-4">
  <div class="card-header">
    <h3>Your Pet Preview</h3>
  </div>
  <div class="shadow-lg p-3 bg-white">
    <div>

      <div class="card">
        <div class="card-img-wrapper">
          <img class="card-img-top" [src]=PhotoFilePath>
          <!-- <img  class="card-img-top" src="assets/images/clinic.jpg"> -->


        </div>
        <div class="card-body p-1">
          <h3 class="mb-0"> Name :{{propertyView.Name}} </h3>


          <span> Age: {{propertyView.Age}}</span> <span><br>Gender : {{propertyView.Gender}}
          </span>
          <br>
          <span> Biography: {{propertyView.Biography}}</span> <span><br>
          </span>


          <hr class="mt-0 mb-2">


        </div>
      </div>

    </div>











  </div>
</div>
</div>

</div>


</div>