<app-nav-bar></app-nav-bar>
<div class="container" style="margin-top: 100px;">
<div class="c2a8" style=" background-repeat:no-repeat  ; background-position: buttom;">
  <div class="container">
    <!-- Row -->
    <div class="row justify-content-center">
      
      <div class="col-lg-15 col-md-10 text-center both-space">
        <div class="card bg-danger-gradiant">
          
          <div class="card-body">
            <div class="text-box">
              <h3 class="mb-3 text-white font-italic">Make your Reservation for keep your pet good</h3>
              <h4 class="subtitle font-weight-normal text-white op-5">You can relay  found  the best doctors an nearest clinic in our web site</h4> 
							<a class="btn bg-white text-danger rounded-pill btn-md mt-3"  ><span>Reserve Now  </span></a>  
            
						</div>
            <img src="assets/unnamed.png" style="margin-right:700 ;height: 300px; ">

          </div>
        </div>
      </div>
      <!-- Column -->

    </div>
  </div>
</div></div>
<footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-dark" >KeepAPet</a>
  </div>
  <!-- Copyright -->
</footer>