<app-nav-bar></app-nav-bar>
<div style="margin-top: 100px;">

<div class="container">
<div class="register-form">
 <div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>

    <form class="example-form" [formGroup]="form" (ngSubmit)="onSubmit()">

      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="FullName" formControlName="fullname" 
          [ngClass]="{ 'is-invalid': submitted && f.fullname.errors }">
          <div *ngIf="submitted && f.fullname.errors" class="invalid-feedback">
            <div *ngIf="f.fullname.errors.required">Fullname is required</div>
          </div>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email"formControlName="email" 
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">Email is invalid</div></div>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password"  formControlName="password"  type="password"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
          <div *ngIf="f.password.errors.minlength">
            Password must be at least 6 characters
          </div>
          <div *ngIf="f.password.errors.maxlength">
            Username must not exceed 40 characters
          </div></div>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Confirm Password" formControlName="confirmPassword"  type="password"  class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
          <div *ngIf="f.confirmPassword.errors.required">
            Confirm Password is required
          </div>
          <div *ngIf="f.confirmPassword.errors.matching">
            Confirm Password does not match
          </div>
          </div>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Phone" type="number" formControlName="mobile" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" />
        <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
          <div *ngIf="f.mobile.errors.required">mobile is required</div>
          <div *ngIf="f.mobile.errors.email">mobile is invalid</div> </div>
        </mat-form-field>
      
      </mat-card-content>

      <button mat-stroked-button color="accent"  type="submit" class="btn-block">Register</button>

    </form>
  </mat-card>
</div>
</div>
</div>

</div>